{% extends 'base.html' %}
{% load i18n django_bootstrap5 %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

  <h1>{{ title }}</h1>
  <p>{% translate 'Forgotten your password? Enter your email address, and we\'ll email instructions for setting a new one.' %}</p>

  <form action="{{ app_path }}" method="post" class="form">{% csrf_token %}
    {% if form.errors %}
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-4" role="alert">
        <strong class="font-bold">{% translate "Error" %}</strong>
        <span class="block sm:inline">{% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}</span>
      </div>
    {% endif %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Submit" %}
  </form>

{% endblock %}
