{% extends 'base.html' %}
{% load cache i18n %}

{% block title %}{% translate "Server List" %}{% endblock %}

{% block content %}
  <h1>{% translate "Server List" %}</h1>

  {% if object_list.count %}
    <table class="table table-sm table-striped table-hover">
      <thead>
      <tr>
        <td>
          {% translate "Server Name" %}
        </td>
        <td>
          {% translate "Details" %}
        </td>
      </tr>
      </thead>
      <tbody>
      {% for server in object_list %}
        <tr>
          <td>
            <a href="{% url 'host:server-profile' server.pk %}">
              {{ server.name }}
            </a>
          </td>
          <td>
            {% translate "Game Status" %}: {{ server.game_status_name }}
            <br>
            {% translate "Ping" %}: {{ server.last_ping_latency }} {% translate "ms" %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
      <p>{% translate "No active servers." %}</p>
  {% endif %}

{% endblock %}
