{% extends 'base.html' %}
{% load i18n django_bootstrap5 %}

{% block title %}{% translate 'Log In' %}{% endblock %}

{% block content %}

  <h1>{% translate 'Create Account' %}</h1>

  <form action="{{ app_path }}" method="post" class="form">{% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Log In" %}
    <a href="{% url 'authentication:password_reset' %}" class="btn btn-default">{% translate "Forgot your password?" %}</a>
  </form>

{% endblock %}
